@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Noto Sans Devanagari', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-7xl px-4 md:px-8;
  }
}

@layer base {
  /* Firefox */
  * {
    scrollbar-color: theme('colors.secondary.foreground')
      theme('colors.secondary.DEFAULT');
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: theme('width.1.5');
  }

  *::-webkit-scrollbar-track {
    background-color: theme('colors.secondary.DEFAULT');
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme('colors.secondary.foreground');
    border-radius: theme('borderRadius.full');

    &:hover {
      background-color: theme('colors.secondary.DEFAULT');
    }
  }
}
